
@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Passero+One&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

            @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

            :root{
                --font1: 'Courier New', Courier, monospace;
                --font2: 'Sriracha', 'monospace';
                --font3: 'Passero One', 'Courier';
            }

           
    *{
        margin: 0px;
        padding: 0px;
    }

    html, body{
        background-color: white;
        font-family: var(--font1);

    }

    header{
        position: sticky;
        background-color: black;
        padding: 20px;
        color: white;
        text-align: center;
        font-family: var(--font1);
        border-radius: 1px;
        

       top: 0px;
    }

    menu > ul,  li{
        display: inline;
    }

    menu li, a{
    text-decoration: none;
    color: aqua;
    }

    h2{
        text-align: center;
        padding: 10px;
        color: aqua;
        font-weight: bolder;
        text-align: center;
        /*font-family: var(--font3);*/
    }

    main section{
        min-width: 10em;
        max-width: 1050vw;
    }

    section.primeira_section{
        background-color: darkgray;
        padding: 30px;
        height: 20em;
    }

    .primeira_section{
        padding: 5px;
    }

    .paragrafo1{
        /*font-family: var(--font3);*/
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify4;
        font-size: 1rem;
        display: inline-block;
        margin: auto;
    }

    ul.destaque{
        background-image: url('imagens/Mídias/imagens/Software-Developer.jpg');
        background-size: cover;
        background-color: white;
        background-position: center center;
        background-attachment: fixed;
        padding: 30px;
        height: 35vh;
        padding-top: 20px;
        
    }

    ul, li{
        padding-left: 20px;
    }

    ul.destaque>li{
        text-align: justify;
        color: aqua;
        font-family: var(--font2);
        font-size: 1vw;
        padding-left: 10px;
    }

    h2{
        padding-top: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: aquamarine;
        display: inline;
        margin: auto;
        text-align: center;
    }

   section.IA{
        padding: 20px;
        background-image: url('imagens/Mídias/imagens/ebp_blog_ia-intelligence-articifielle-aide-entreprise.webp');
        background-size: cover;
        background-attachment: fixed;
    }

    section.IA{
       
        font-family: var(--font2);
        text-align: justify;
        font-size: 1.2em;
        font-weight: bolder;
        color: white;
        line-height: 5vh;
        line-break:normal
        

    }


    footer{
        background-color: black;
        padding: 15px; 
        color: white;
        text-align: center;
    }

    footer a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color:red;
    }
